.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.container h1{
    color: black;
    font-size: 80px;
}
.container p {
    font-size: 40px;
}
.btn{
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgna(0,0,0,0,2);
}
.btn:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    font-weight: bolder;
}
.btn:focus{
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0,2);
}